@use './functions' as *;

$button-bg: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
$brand-black: #423a3a;
$brand-base: #ce9898;
$brand-error: #f96464;
$brand-white: #dbdbdb;
$btn-box-shadow: rem(0) rem(15) rem(20) rgba(198, 110, 110, 0.247569);
$btn-hover-box-shadow: 0px rem(15) rem(20) rgba(198, 110, 110, 0.247569);
$btn-hover-bg: rgba(255, 255, 255, 0.5);
